/* About Page Design Part and some login design */
#about .container,
#login-page .container,
#register-page .container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 8rem 0rem 8rem;
  gap: 5rem;
}
#about .container .about-text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.about-text p {
  line-height: 30px;
  margin: 15px 0px;
}
/* End About page */
